#heart-wrapper {
  display: block;
  left: 0 !important;
  bottom: 0 !important;
  width: 250px !important;
  height: auto !important;
  padding: 1em !important;
  position: fixed !important;
  pointer-events: none !important;
  filter: drop-shadow(0 0 10px black) !important;
  z-index: 100000000000000000000000000000000 !important;
}
#heart {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
}
.hide {
  display: none !important;
}
